*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.btn{
    padding: 28px 35px;
    border: none;
    background-color:#FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px ;
}

.fonts-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Main style */

.logo h2{
    font-size: 45px;
    font-weight: bold;
}
.color-orange{
    color: #FD6E0A;
}
header {
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1170px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu  {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

